@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #2f3134;
  --color-secondary: #2d2d2d;
}

.bg-pattern {
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #2d2d2d;
}

body {
  font-family: "VT323", monospace;
}

.prose pre {
  padding: 0;
  background: transparent;
}

.prose pre,
.prose h1,
.prose h2,
.prose h3,
.prose p,
.prose li,
.prose ol,
.prose ul {
  font-weight: 100 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 1.4;
}

.prose h1 {
  color: #ce3d41;
  line-height: 30px;
}
.prose h2 {
  line-height: 30px;
  color: #3985ff;
}
.prose h3 {
  line-height: 30px;
  color: #4aff39;
}

.prose hr {
  margin: 10px 0px 5px 0px;
  padding: 0;
  color: var(--color-primary);
}

.prose strong {
  color: #ff0008;
}
