@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #2f3134;
  --color-secondary: #2d2d2d;
}

.bg-pattern {
  background-image: url("/bg.svg");
  background-repeat: repeat;
  background-size: 1200px;
  background-position: center top;
  background-color: #2d2d2d;
}

.prose pre {
  padding: 0;
  background: transparent;
}

.prose pre,
.prose h1,
.prose h2,
.prose h3,
.prose p,
.prose li,
.prose ol,
.prose ul {
  font-weight: 100 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 1.4;
}

body {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
}

.prose h1 {
  font-size: 2.5rem;
}
.prose h2 {
  font-size: 2rem;
}
.prose h3 {
  font-size: 1.5rem;
}
.prose p,
.prose li,
.prose ol,
.prose ul {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .prose h1 {
    font-size: 2rem;
  }
  .prose h2 {
    font-size: 1.5rem;
  }
  .prose h3 {
    font-size: 1.2rem;
  }
  body,
  .prose p,
  .prose li,
  .prose ol,
  .prose ul {
    font-size: 1rem;
  }
}
